/* Estilos CSS van aquí */
#logo1 {
    background-color: #a2eff1;
    width: 150px;
    float: left;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo2 {
    background-color: #f3da9c;
    width: 150px;
    float: left;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo3 {
    background-color: #9ad198;
    width: 150px;
    float: left;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo4 {
    background-color: #ef9a73;
    width: 150px;
    float: left;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logoE1 {
    background-color: #f3da9c;
    width: 120px;
    float: left;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    left: 0px;
}

#logoE2 {
    background-color: #f3da9c;
    width: 120px;
    float: left;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    right: 0px;

}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#busqueda {
    width: 60%; /* Ancho de la barra de búsqueda, ajusta según sea necesario */
    height: 20px; /* Altura de la barra de búsqueda, ajusta según sea necesario */
    padding: 10px; /* Espacio interno dentro de la barra de búsqueda, ajusta según sea necesario */
    border: none; /* Quita el borde predeterminado */
    border-radius: 20px; /* Añade esquinas redondeadas */
    background-color: #5e6360; /* Cambia el color de fondo */
}

#lupa {
    position: absolute;
    top: 50%;
    left: 240px;
    transform: translateY(-210px);
    width: 25px; /* Ancho del ícono */
    height: 30px; /* Altura del ícono */
    border-radius: 20px;
}


#body1 {
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    margin: 0;
    padding: 0;
    background-color: rgba(104, 165, 165, 0.54);
}

#body2 {
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    margin: 0;
    padding: 0;
    background-color: rgba(93, 92, 89, 0.6);
}

#body3 {
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    margin: 0;
    padding: 0;
    background-color: rgba(220, 243, 218, 0.69);
}

#body4 {
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    margin: 0;
    padding: 0;
    background-color: rgb(139, 116, 103);
}

#bodyError {
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    margin: 0;
    padding: 0;
    background-color: rgb(42, 44, 43);

}


header {
    color: #10dbc3;
    padding: 10px 0;
    text-align: center;
}

#encabezado {
    background-color: #2a2c2b;
}

#inicio {
    background-color: #68a4a4;
    border-radius: 30px;
    color: #2a2c2b;
    padding: 15px;
    margin: 2mm;
}

#recetas {
    background-color: #f3da9c;
    border-radius: 30px;
    color: #2a2c2b;
    padding: 15px;
    margin: 30px;
}

#ligth {
    background-color: #9ad198;
    border-radius: 30px;
    color: #2a2c2b;
    padding: 15px;
    margin: 30px;
}

#restaurant {
    background-color: #f39a73;
    border-radius: 30px;
    color: #2a2c2b;
    padding: 15px;
    margin: 30px;

}

#nav1 {
    background-color: rgba(78, 123, 123, 0.75);
    padding: 20px 0;
    text-align: center;
}

#nav2 {
    background-color: rgb(241, 217, 155);
    padding: 20px 0;
    text-align: center;
}

#nav3 {
    background-color: rgb(153, 208, 151);
    padding: 20px 0;
    text-align: center;
}

#nav4 {
    background-color: rgb(241, 153, 114);
    padding: 20px 0;
    text-align: center;
}

h2 {
    background-color: #e4f4f4;
    padding: 25px 0;
    text-align: center;

}

.h2\.2 {
    background-color: #efd89a;
    padding: 25px 0;
    text-align: center;
}

.h2\.3 {
    background-color: #98cf96;
    padding: 25px 0;
    text-align: center;
}

.h2\.4 {
    background-color: #c87d5b;
    padding: 25px 0;
    text-align: center;
}

.h2\.E {
    background-color: rgb(42, 44, 43);
    padding: 25px 0;
    text-align: center;
    color: #f3da9c;
    font-size: 350%;
}

.sublogo1 {
    width: 60px;
    float: left;
    border-radius: 10px;
    position: absolute;
    transform: translateY(25px);
    left: 30px;
}

#texerror {
    background-color: rgb(141, 124, 86);
    padding: 25px 0;
    text-align: center;
    color: #f6f6f6;


}

.sublogo2 {
    width: 60px;
    float: left;
    border-radius: 10px;
    position: absolute;
    transform: translateY(-95px);
    right: 30px;

}

nav a {
    text-decoration: none;
    color: #cae6e3;
    margin: 0 10px;
    width: 100%;
}

section {
    padding: 20px;
}

.Receta {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn:link, .btn:visited {
    color: #223230;
}

.btn:hover {
    font-size: 1.4em;
}

.btn:active {
    font-weight: bold;
}

.imagenReceta {
    width: 100px;
    float: right;
}

.Contenedor {

    max-width: 100%;
    margin: 0px auto;
    background: #ffffff;
    width: 100%;
}

.Contenedor.checkbox ul {
    list-style: none;
    display: flex;
    justify-content: normal;
    align-items: normal;
    height: 30px;
    width: 100%;

}

.Contenedor .checkbox ul li {
    display: inline-block;
    margin: 1px 1px;

}

.Contenedor .checkbox ul li label {
    display: inline-block;
    background: #96865a;
    border: 1px solid #b6a471;
    color: #efd89a;
    border-radius: 25px;
    transition: .2s all ease;
    padding: 5px 5px;
    width: 100%;

}

.Contenedor .checkbox ul li label:hover {
    border: 3px solid #efd89a;
}

.Contenedor .checkbox ul li input[type="checkbox"]:checked + label {
    border: 5px solid #efd89a;
    background: #efd89a;
    color: #95855a;
}

.Contenedor .checkbox ul li input[type="checkbox"] {
    opacity: 0;
}

.Lugares {
    background: #4b6e6a;
    float: left;
    width: 40%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#mapa {
    display: flex;
    float: right;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
}
